header {
height: 2%;
justify-content: space-around;
align-items: baseline;
display: flex;
padding: 2%;
font-family: 'Gilroy'
}

footer{
    background : #f8f8f8;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 50px;
    font-family: 'Gilroy'
}
.SelfCl{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }
 .SelfC2{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
	margin:10px;
  }
 .SelfC3{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }
 
 .Background_1{
	background-image: url('images/Фон.png');
	background-repeat: no-repeat;
	background-size: 100% 100%
 }
 .Background_2{
	background-image: url('images/Фон2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%
 }
 .Background_3{
	 
 }
 .Background_4{
	 
 }
 .leftMarg{
	margin-left:50px;
 }
 
.denPic{
	width: 50%;
}
.denPic2{
	width: 20%;
}
.denPic3{
	width: 80%;
}
.denPic4{
	width: 400px;
}
.DenText{
	margin-top:30%;
}
.ОРаботе{
	text-align: center;
	margin: 5%;
}	
  .ОСебе {
    font-size: 34px;
    font-family: "Gilroy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
margin: 0;
align-items: center;
  }
    .Имя {
    font-size: 45px;

  }
.Шрифт_Навыков_Заголовок
{
	font-size: 20px;
    font-family: "Gilroy";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
	margin: 0;
	align-items: left;
}

 
 @media screen and (max-width: 800px) {
	 header {
		font-size:60%;
	 }
  .ОСебе {
		font-size:100%
  }	
 @media screen and (max-width: 500px) {
	 header {
		font-size:20%;
	 }
   .Текст{
		font-size:8px;
   }
      .Текст2{
		font-size:12px;
   }
 .SelfC2{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }
  .SelfC3{
    display: flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
	margin:10px;
  }
.denPic4{
	width: 200px;
} 
   .leftMarg{
	margin-left:0px;
 }